Repository cbserra/fem-countdown-timer: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format:scripts, yarn format:styles

feat: wip card flip clock
  index.html
  src/CountdownTimer.ts
  src/index.d.ts
  src/index.ts
  src/style.css
  src/util.ts
Due: yarn format:scripts, yarn format:styles

:recycle: removing oop
  src/CountdownTimer.ts
  src/index.ts
Due: yarn format:scripts

:heavy_plus_sign: ($dev) trying out commitizen and cz-emoji
  package.json
  yarn.lock
Due: yarn format:scripts

chore: broken commit
  .editorconfig
  fem-countdown-timer.code-workspace
  src/styles/base.css
  src/styles/components.css
  src/styles/components/simple-timer.css
  src/styles/index.css
  src/styles/utilities.css
  src/styles/utilities/animation.css
Due: yarn format:styles

feat: wip
  .husky/pre-commit
  index.html
  src/style.css
Due: yarn format:scripts, yarn format:styles

feat: wip -- removed ts configs
  .eslintrc
  .lintstagedrc
  index-vite.html
  index.html
  jest.config.ts
  package.json
  src/index.d.ts.ignore
  src/index.ts.ignore
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: yarn format:scripts

feat: wip -- screens
  index.html
  src/SimpleTimer.js
  src/style.css
  tailwind.config.js
Due: yarn format:scripts, yarn format:styles

feat: animated wip
  index.html
  src/CountdownTimer.ts
  src/index.ts
  src/style.css
  tailwind.config.js
Due: yarn format:scripts, yarn format:styles

feat: animated wip #2
  index.html
  src/style.css
  tsconfig.json
  vite.config.ts
Due: yarn format:scripts, yarn format:styles

feat: main wip
  index.html
  src/index.ts
  vite.config.ts
Due: yarn format:scripts

style: linters
  src/index.js
  src/style.css
  src/styles/base.css
  tsconfig.json
Due: yarn format:scripts, yarn format:styles

Path conditions:
  yarn format:scripts: any of: ./**/*.{ts,html,json}
  yarn format:styles: any of: ./**/*.{css,scss}
